.tweeter-handle-container {
  margin-top: 50px;
  padding-right: 15px;
  font-family: Lato;
  width: 400px;
  border: none;
  margin-left: 330px;
}
.tweet-author {
  font-family: Lato;
  font-size: 20px;
  color: #42b8ff;
  padding-right: 5px;
  font-weight: bold;
}
.tweet-email {
  color: #000;
  padding-top: 3px;
  padding-left: 5px;
  font: italic 12px Lato;
  opacity: 0.8;
}
.user-tweet {
  padding: 5px;
  text-align: left;
  margin-bottom: 25px;
  width: 400px;
  border-radius: 10px;
  background-color: #fafafa;
}
.user-tweet a {
  color: #42b8ff;
  text-decoration: none;
}
.user-tweet a:hover {
  text-decoration: underline;
}
.not-authorized {
  font-family: Lato;
  margin-top: 150px;
  margin-left: 350px;
  padding-top: 40px;
  border: none;
  width: 398px;
  height: 100px;
  text-align: left;
  font-size: 20px;
  outline: none;
}

.not-authorized a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
